<h2>SQlite Library</h2>
<p>SQLite3 is a very light-weight, server-less, database-in-a-file library. See <a title="www.SQLite.org" href="https://www.SQLite.org" target="_blank" rel="noopener">www.SQLite.org</a>. This package is a wrapper of the SQLite3 C library and follows it closely.</p>
<p>There are basically two use modes: (1) calling "Execute SQL" on a Connection to run SQL scripts (and optionally return 2D arrays of strings from an SQL statement that returns results); and (2) "Preparing" a single SQL statement and executing it step-by-step explicitly. The advantage of the later is the ability to "Bind" parameters to the statement, and get the column data back in the desired datatype. The "Bind" and "Get Column" VIs are set as properties of the "SQL Statement" object, for convenience in working with large numbers of them.</p>
<p>The Palettes are located under "Connectivity&gt;SQLite Library".</p>
<p>For SQL used with SQLite, see <a title="SQLite.org" href="https://www.sqlite.org/lang.html" target="_blank" rel="noopener"> SQLite.org</a>.</p>
<p>For support please see <a title="[CR] SQLite Library" href="https://lavag.org/files/file/212-sqlite-library/" target="_blank" rel="noopener"> LAVA[CR] SQLite Library</a> and <a title="Issues" href="https://bitbucket.org/drjdpowell/sqlite-labview/issues?status=new&amp;status=open">Bitbucket Issue Tracker</a>.</p>
<p><strong>Compatible LabVIEW Versions:</strong> &gt;= 2013.</p>
<p><strong>Compatible OS Versions:</strong> ALL.</p>
<p><strong>This Package depends on this other package:</strong> JDP Science Common Utilities (version 1.2 or later)</p>
